---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular"
;
/* Night mode styles */
body {
    background-color: #121212;
    color: #ffffff;
}

/* Ensure other elements are styled for night mode */
.header {
    background-color: #1e1e1e;
    color: #ffffff;
}

.content {
    background-color: #1e1e1e;
    color: #ffffff;
}

/* Ensure links are also visible in night mode */
a {
    color: #bb86fc;
}

a:hover {
    color: #ffffff;
}
